/*
  This is our current pallete of colors.

  Please use only colors defined here when writing new styles. Also try to avoid
  defining new colors, as we already have more than enough.
*/

/*
  Group 1: Blueish grays

  WARNING: All text should either be $kobo-black/$kobo-darkgray for light backgrounds
  or $kobo-white/$kobo-whitegray for dark backgrounds.
*/

/* 
  CCPM: To facilitate product upgrades, we keep the references to the default color 
  variables, but change their color values to match with Health Cluster's branding. 
*/

$kobo-black: 	hsl(60, 4%, 11%); // base text color
$kobo-darkgray: hsl(60, 4%, 11%);
$kobo-midgray: hsl(60, 4%, 11%); // mostly used for darker borders
$kobo-lightgray: hsl(0, 0%, 85%); // mostly used for lighter borders
$kobo-whitegray: hsl(230, 12%, 95%);
$kobo-white: hsl(0, 0%, 100%);

/*
  Group 2: Accent colors
*/
$kobo-blue: hsl(198, 100%, 45%);
$kobo-blue-dark: hsl(198, 100%, 45%);
$kobo-blue-light: hsl(201, 71%, 70%);
$kobo-teal: hsl(198, 100%, 45%);
// positive colors
$kobo-green: hsl(198, 100%, 45%);
$kobo-green-dark: hsl(198, 100%, 45%);
$kobo-green-light: hsl(201, 71%, 70%);
// error/negative colors
$kobo-red: hsl(34, 90%, 51%);
$kobo-red-dark: hsl(34, 90%, 51%);
$kobo-red-light: hsl(34, 90%, 51%);
// warning colors
$kobo-orange:	hsl(0, 0%, 85%);
$kobo-orange-dark: hsl(0, 0%, 85%);
$kobo-orange-light: hsl(60, 4%, 11%);
